<%= stylesheet_link_tag 'post'%>

<div id="recipe_content_wrapper">
 <h1>投稿一覧</h1>
    <div class="ml-auto posts_button">
        <%= form_tag posts_path, method: :get, class: 'posts__searchForm' do %>
            <%= select_tag :tag_id,
                           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                           {
                             prompt: 'タグで絞り込み',
                             class: 'form-control posts__select',
                             onchange: 'submit(this.form);'
                             }
             %>
     <% end %>
        <%= link_to '投稿', new_post_path, class: "btn btn-outline-info" %> 
    </div>
        
     <% if flash[:notice] %>
        <div class="alert alert-primary"><%= flash[:notice] %></div>
    <% end %>   
        
     <div id="recipe_list_wrapper">
         <div id="recipe_list">
          <% @posts.each do |post| %>
                
                <div class="post.title"><%= post.title %></div>
                <div class="post.picture"><%= image_tag post.picture.to_s %></div>
                <p>by</p><div class="post.user"><%=  link_to post.user.name, post.user %></div>
                <div class="post.time"><%= post.created_at.to_s(:datetime_base) %></div>
                <div class="btn btn-outline-info"><%= link_to "詳細" , post  %></div>
                <div class="btn btn-outline-info"><%= link_to "削除" , post , method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %></div>
          <% end %>   
         </div>
     </div>
  </div>
</div>
 