<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="recipe_content_wrapper">
 
    <div class="ml-auto posts_button">
        <%= form_tag posts_path, method: :get, class: 'posts__searchForm' do %>
            <%= select_tag :tag_id,
                           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                           {
                             prompt: 'タグで絞り込み',
                             class: 'form-control posts__select',
                             onchange: 'submit(this.form);'
                             }
             %>
     <% end %>
        <%= link_to '投稿', new_post_path, class: "btn btn-outline-info" %> 
    </div>
        
     <% if flash[:notice] %>
        <div class="alert alert-primary"><%= flash[:notice] %></div>
    <% end %>   
        
     <div class="recipe_list_wrapper">
            
            <% @posts.each do |post| %>
                <div class="recipe_list">
                    <div class="content-left">
                    <div class="post.picture"><%= image_tag post.picture.to_s  %></div>
                </div>
                <div class="content-center">
                    <p class="post.title"><%= post.title %></p>
                </div>
                <div class="btn btn-outline-info"><%= link_to "コメントする" , post  %></div>
                <div class="btn btn-outline-info"><%= link_to "削除" , post , method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %></div>
                    
                <div class="content-right">
                        <p class="post.user"><%=  link_to post.user.name, post.user %></p>
                    <p class="post.time"><%= post.created_at.to_s(:datetime_base) %></p>
                </div>
                </div>
            <% end %>
         </div>
     </div>
  </div>
</div>
 