<!DOCTYPE html>
<html>
  <head>
    <title>Tsukutta!</title>
    <%= csrf_meta_tags %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@_ayk_study" />
    <meta property="og:url" content="https://tukutta.herokuapp.com/" />
    <meta property="og:title" content="Tsukutta!" />
    <meta property="og:description" content="railsの勉強を始めて４ヶ月、まだまだ未完成の部分も多いのですがいったん
    公開したいと思います！Progateとrailsチュートリアルをもとに作りました！機能していない部分
    も多いので、こうしたほうがいいなどご助言いただけると嬉しいです！" />
    <meta property="og:image" content=""app.image.png" />
    
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  
  <body>
    <!-- 追加 -->
    <%= render 'application/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
  
        <%= yield %>
      <%= render 'application/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
